<p id="notice"><%= notice %></p>

<h1>Inspections</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="inspections" data-url="<%= sort_inspections_path %>">
    <% @inspections.each do |inspection| %>
      <tr id="<%= dom_id(inspection)%>">
        <td><%= inspection.position %></td>
        <td><%= inspection.title %></td>
        <td><%= inspection.description %></td>
        <td><%= link_to 'Show', inspection %></td>
        <td><%= link_to 'Edit', edit_inspection_path(inspection) %></td>
        <td><%= link_to 'Destroy', inspection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inspection', new_inspection_path %>
